<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="Css/home2.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="Css/home1.css">
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.css">
    <title>Freshcart</title>
</head>
<body>
    <!-- header -->
   <section class="header">
      <nav class="navbar navbar-expand-lg bg-success " >
        <div class="container-fluid">
          <a class="navbar-brand ms-5" href="#"><img src="./download3/freshcart-logo.svg" alt="" class="mt-0">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 mb-2 mb-lg-0 me-5">
              <li class="nav-item ms-4">
                <a class="nav-link active text-white"  aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item ms-4 ">
                <a class="nav-link text-white" href="Product">Product</a>
              </li>
              <li class="nav-item ms-4 ">
                <a class="nav-link text-white" href="Categories">Categories</a>
              </li>
              <li class="nav-item ms-4 ">
                <a class="nav-link text-white" href="profile">Profile</a>
              </li>
            </ul>
            <form class="d-flex ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success text-white" type="submit">Search</button>
           </form>
           <ul class="navbar-nav ms-2 mb-2 mb-lg-0 me-2">
             <li class="nav-item  ">
                <a class="nav-link text-white" href="create">Sign in</a>
              </li>
              <li class="nav-item  ">
                <a class="nav-link text-white" href="#">Login</a>
              </li>
           </ul>
          </div>
        </div>
      </nav>
    </section>
   

</section>
<!-- upper-section -->
<section class="upper-section mt-5">
<div class="container bg-opacity-10 bg-dark ">
    <div class="row">
        <div class="col-1">
            <img src="./download2/about-icons-1.svg" alt="" class="ms-2">
        </div>
        <div class="col-8">
            <div >
                <h1 class="mt-3 ms-4">Welcome to FreshCart</h1>
                <p class="m-3 ms-4">Download the app get free food & <span class="text-success"> $30 </span> off on your first order.</p>
                
            </div> 
        </div>
        <div class="col-3"><button class="btn btn-dark m-5 p-2 ">Download FreshCard App</button></div>
    </div>
</div>
</section>
<!-- upper-section-2 -->
<section  class=" m-4">
<div class="container">
<div class="row">
  <div class="col-4">
    <div class="card">
      <img src="./download2/ad-banner-1.jpg" alt="">
       <div class="card-img-overlay">
        <div>
          <!-- Banner Content -->
          <h3 class=" fw-bold mb-3">10% cashback on<br>
            personal care
          </h3>
              <div class="mt-4 mb-4 fs-5">
                <p class="fs-5 mb-0">Max cashback: $12<br>
                   Code: CARE12</p>
              </div>
            <a href="#" class="btn btn-dark">Shop Now</a>
        </div>
       </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="./download2/ad-banner-2.jpg" alt="">
      <div class="card-img-overlay">
        <div>
          <!-- Banner Content -->
          <h3 class=" fw-bold mb-3">Say yes to<br>
            season’s fresh
          </h3>
              <div class="mt-4 mb-4 fs-5">
                <p class="fs-5 mb-0">Refresh your day<br>
                  the fruity way</p>
              </div>
            <a href="#" class="btn btn-dark">Shop Now</a>
        </div>
       </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="./download2/ad-banner-3.jpg" alt="">
      <div class="card-img-overlay">
        <div>
          <!-- Banner Content -->
          <h3 class=" fw-bold mb-3">When in doubt,<br>
                eat ice cream 
          </h3>
              <div class="mt-4 mb-4 fs-5">
                <p class="fs-5 mb-0">Enjoy a scoop of<br>
                 summer today</p>
              </div>
            <a href="#" class="btn btn-dark">Shop Now</a>
        </div>
       </div>
    </div>
  </div>
  
</div>

</div>
</section>
<!-- upper-section-2 -->
<section class="upper-section3 m-5">
  <div class="container">
    <h3 class="mb-5">Shop by Category</h3>
    <div class="row">
      <div class="col">
        <div class="card  text-center hover1" >
          <a href="">
            <img src="./download2/category-dairy-bread-eggs.jpg" alt="" class="my-4" >
          </a>
          <p>Dairy bread & eggs</p>
        </div>
      </div>
      <div class="col">
        <div class="card  text-center hover1">
          <a href="">
            <img src="./download2/category-snack-munchies.jpg" alt="" class="my-4">
          </a>
          <p>snack & munchies</p>
        </div>
      </div>
      <div class="col">
        <div class="card text-center hover1">
          <a href="">
            <img src="./download2/category-bakery-biscuits.jpg" alt="" class="my-4">
          </a>
          <p>bakery & biscuits</p>
        </div>
      </div>
      <div class="col">
        <div class="card text-center hover1">
          <a href="">
            <img src="./download2/category-instant-food.jpg" alt="" class="my-4">
          </a>
          <p>instant food</p>
        </div>
      </div>
      <div class="col">
        <div class="card text-center hover1">
          <a href="">
            <img src="./download2/category-tea-coffee-drinks.jpg" alt="" class="my-4">
          </a>
          <p>tea, coffee & drinks</p>
        </div>
      </div>
      <div class="col">
        <div class="card text-center hover1">
          <a href="">
            <img src="./download2/category-fruits-vegetables.jpg" alt="" class="my-4">
          </a>
          <p>fruits & vegetables</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="card  text-center hover1" >
          <a href="">
            <img src="./download2/category-cold-drinks-juices.jpg" alt="" class="my-4" >
          </a>
          <p>cold,drinks & juices</p>
        </div>
      </div>
      <div class="col">
        <div class="card  text-center hover1">
          <a href="">
            <img src="./download2/category-chicken-meat-fish.jpg" alt="" class="my-4">
          </a>
          <p>chicken, meat & fish</p>
        </div>
      </div>
      <div class="col">
        <div class="card text-center hover1">
          <a href="">
            <img src="./download2/category-baby-care.jpg" alt="" class="my-4">
          </a>
          <p>baby care</p>
        </div>
      </div>
      <div class="col">
        <div class="card text-center hover1">
          <a href="">
            <img src="./download2/category-cleaning-essentials.jpg" alt="" class="my-4">
          </a>
          <p>cleaning essentials</p>
        </div>
      </div>
      <div class="col">
        <div class="card text-center hover1">
          <a href="">
            <img src="./download2/category-pet-care.jpg" alt="" class="my-4">
          </a>
          <p>pet care</p>
        </div>
      </div>
      <div class="col">
        <div class="card text-center hover1">
          <a href="">
            <img src="./download2/category-atta-rice-dal.jpg" alt="" class="my-4">
          </a>
          <p>atta, rice & dal</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- upper section-3 -->
<section class="featured m-5">
  <div class="container">
      <h3>Featured Categories</h3>
      <div class="homeslider1">
       <a href="">
        <div class="card card-product card1 mb-lg-4 hover1">
          <div class="card-body text-center py-8 ">
            <img src="./download2/product-img-15.jpg" alt="">
            <div class="text-trucate"></div>
          </div>
          <small class="fw-normal text-dark ms-4">Fruits &amp;
            Vegetables</small>
             <lead class="fw-bold text-dark ms-4 mt-1">Fresh Apple</lead>
             <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
              <span class="text-muted small">4.5 (149)</span>
            </small>
              <div class="d-inline-flex justify-content-between">
                <p class="ms-4 mt-2 text-dark">$18 <span class="text-decoration-line-through">$28</span> </p>
                <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
              </div>
        </div>
       </a>
       <a href="">
        <div class="card card1 card-product mb-lg-4 hover1">
          <div class="card-body text-center py-8">
            <img src="./download2/product-img-16.jpg" alt="">
            <div class="text-trucate"></div>
          </div>
          <small class="fw-normal text-dark ms-4">Fruits &amp;
            Vegetables</small>
             <lead class="fw-bold text-dark ms-4 mt-1">Golden Pineapple</lead>
             <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
              <span class="text-muted small">4.5 (25)</span>
            </small>
              <div class="d-inline-flex justify-content-between">
                <p class="ms-4 mt-2 text-dark">$24 </p>
                <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
              </div>
        </div>
       </a>
       <a href="">
        <div class="card card1 card-product mb-lg-4 hover1">
          <div class="card-body text-center py-8">
            <img src="./download2/product-img-17.jpg" alt="">
            <div class="text-trucate"></div>
          </div>
          <small class="fw-normal text-dark ms-4">Fruits &amp;
            Vegetables</small>
             <lead class="fw-bold text-dark ms-4 mt-1">Fresh Kiwi</lead>
             <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <span class="text-muted small">5 (469)</span>
            </small>
              <div class="d-inline-flex justify-content-between">
                <p class="ms-4 mt-2 text-dark">$32 <span class="text-decoration-line-through">$35</span> </p>
                <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
              </div>
        </div>
       </a>
       <a href="">
        <div class="card card1 card-product mb-lg-4 hover1">
          <div class="card-body text-center py-8">
            <img src="./download2/product-img-18.jpg" alt="">
            <div class="text-trucate"></div>
          </div>
          <small class="fw-normal text-dark ms-4">Fruits &amp;
            Vegetables</small>
             <lead class="fw-bold text-dark ms-4 mt-1">Fresh Banana</lead>
             <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
              <span class="text-muted small">4.5 (19)</span>
            </small>
              <div class="d-inline-flex justify-content-between">
                <p class="ms-4 mt-2 text-dark">$12  </p>
                <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
              </div>
        </div>
       </a>
       
       <a href="">
        <div class="card card1 card-product mb-lg-4 hover1">
          <div class="card-body text-center py-8">
            <img src="./download2/product-img-19.jpg" alt="">
            <div class="text-trucate"></div>
          </div>
            <small class="fw-normal text-dark ms-4">Fruits &amp;
              Vegetables</small>
               <lead class="fw-bold text-dark ms-4 mt-1">Beatroot</lead>
               <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span class="text-muted small">4.5 (39)</span>
              </small>
                <div class="d-inline-flex justify-content-between">
                  <p class="ms-4 mt-2 text-dark">$13 <span class="text-decoration-line-through">$18</span> </p>
                  <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
                </div>
        </div>
       </a>
      </div>
        
  </div>
</section>
<!-- upper section-4 -->
<section class="section-4">
<div class="container">
  <h3>Breakfast & dairy</h3>
  <p>butter, cheese, milk, curd and more</p>
  <div class="homeslider1">
    <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-1.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Snack &amp;
          munchies</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Haldiram's Sev Bhujia</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (469)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$18 <span class="text-decoration-line-through">$24</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-2.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Bakery &amp;
          Biscuits</small>
           <lead class="fw-bold text-dark ms-4 mt-1">NutriChoice Digestive</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (25)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$24  </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-3.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Bakery &amp;
          biscuits</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Cadbury 5 Star chocolate</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <span class="text-muted small">5 (469)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$32 <span class="text-decoration-line-through">$35</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-4.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Snack &amp;
          munchies</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Onion Flavour Potato</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (439)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$3 <span class="text-decoration-line-through">$5</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-5.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">
          Instant Food</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Salted Instant Popcorn</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (39)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$13 <span class="text-decoration-line-through">$18</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-6.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Dairy,bread &amp;
          Eggs</small>
           <lead class="fw-bold text-dark ms-4 mt-1">BlueBerry Greek Yogurt</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (189)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$18 <span class="text-decoration-line-through">$24</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-7.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Dairy, Bread &amp;
          Eggs</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Britannia Cheese Slices</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <span class="text-muted small">5 (345)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$25 </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-8.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Instant Food 
          </small>
           <lead class="fw-bold text-dark ms-4 mt-1">Kellogg's Original</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4 (90)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$32 <span class="text-decoration-line-through">$35</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-9.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Snack &amp;
          munchies</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Slurrp Millet chocolate</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5(67</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$13 </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-10.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Dairy,Bread &amp;
          Eggs</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Amul Butter-500 g</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (139)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$13 <span class="text-decoration-line-through">$18</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>

  </div>

</div>
</section>
<!-- upper section-5 -->
<section class="section-5 my-4">
<div class="container">
  <h3>Biscuits, snacks & chocolates</h3>
  <p>discover a wide variety of munchies</p>
  <div class="homeslider1">
    <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-3.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Bakery &amp;
          Biscuits</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Cadbury 5 Star chocolate</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <span class="text-muted small">5 (469)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$32 <span class="text-decoration-line-through">$35</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-2.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Bakery &amp;
          Biscuits</small>
           <lead class="fw-bold text-dark ms-4 mt-1">NutriChoice Digestive</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (25)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$24  </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-1.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">snack&amp;
          munchies</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Haldiram's Sev Bhujia</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (149)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$18 <span class="text-decoration-line-through">$24</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-10.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Dairy,Bread &amp;
          Eggs</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Amul Butter-500 g</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (39)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$13 <span class="text-decoration-line-through">$18</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-9.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Snack &amp;
          munchies</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Slurrp Millet chocolate</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (67)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$5 <span class="text-decoration-line-through">$8</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-8.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Instant Food
          </small>
           <lead class="fw-bold text-dark ms-4 mt-1">Kellogg's Original Cereals </lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4 (90)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$32 </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-5.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Instant Food
          </small>
           <lead class="fw-bold text-dark ms-4 mt-1">Salted Instant Popcorn</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (39)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$13 <span class="text-decoration-line-through">$18</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-7.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Dairy, Bread &amp;
        Eggs</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Britannia Cheese Slices</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <span class="text-muted small">4.5 (445)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$24 </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-4.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Snack &amp;
          munchies</small>
           <lead class="fw-bold text-dark ms-4 mt-1">Onion Flavour Potato</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (39)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$5 <span class="text-decoration-line-through">$8</span> </p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
     <a href="">
      <div class="card card-product card1 mb-lg-4 hover1">
        <div class="card-body text-center py-8 ">
          <img src="./download2/product-img-6.jpg" alt="">
          <div class="text-trucate"></div>
        </div>
        <small class="fw-normal text-dark ms-4">Dairy, Bread &amp;
          Eggs</small>
           <lead class="fw-bold text-dark ms-4 mt-1">BlueBerry Greek Yogurt</lead>
           <small class="text-warning ms-4 mt-2"> <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <span class="text-muted small">4.5 (189)</span>
          </small>
            <div class="d-inline-flex justify-content-between">
              <p class="ms-4 mt-2 text-dark">$30</p>
              <button type="submit" class="btn btn-success bg-opacity-10 h-25 w-25  me-3">+add</button>
            </div>
      </div>
     </a>
  </div>
</div>
</section>
<hr class="w-75 hr1">
<!-- Get the FreshCart app -->

<section class="FreshCart-app">
 <div class="container">
  <div class="row">
    <div class="col-6 d-flex flex-row-reverse ">
      <img src="./download2/iphone-2.png" alt="">
    </div>
    <div class="col-6 mx ">
      <h3>Get the FreshCart app</h3>
      <p>We will send you a link, open it on your phone to download the app.</p>
      <div class="form-check form-check-inline mt-2">
        <input class="form-check-input text-success " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Phone
        </label>
      </div>
      <div class="form-check  form-check-inline ">
        <input class="form-check-input  " type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Email
        </label>
      </div>
      <br>
      <div class=" form-check-inline w-50 mt-4 mb-3">
        <input type="text" name="" id="" class="form-control " placeholder="Phone">
      </div>
      <div class=" form-check-inline tex">
        <button type="submit" class="btn btn-success text-white ">Share App Link</button>
      </div>
      <br>
      <small>Download app from</small><br>
      <div class="form-check-inline mt-4">
        <img src="./download2/appstore-btn.svg" alt="">
      </div>
      <div class="form-check-inline">
        <img src="./download2/googleplay-btn.svg" alt="">
      </div>
    </div>
    
  </div>
  
 </div>
 <hr class="w-75 mx-auto mt-5">
 <section class="footer"></section>
</section>
<section class="para mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="bi bi-clock text-success"></i>
        <h5 class="lead mt-3 mb-3 fw-semibold">10 minute grocery now</h5>
        <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.</p>
      </div>
      <div class="col">
        <i class="bi bi-gift text-success"></i>
        <h5 class="lead mt-3 mb-3 fw-semibold ">Best Prices & Offers</h5>
        <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best pricess & offers.</p>
      </div>
      <div class="col">
        <i class="bi bi-box text-success"></i>
        <h5 class="lead mt-3 mb-3 fw-semibold">Wide Assortment</h5>
        <p>Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg & other categories.</p>
      </div>
      <div class="col">
        <i class="bi bi-arrow-repeat text-success"></i>
        <h5 class="lead mt-3 mb-3 fw-semibold">Easy Returns</h5>
       <p>Not satisfied with a product? Return it at the doorstep & get a refund within hours. No questions asked  <span class="text-succes">bi-box</span> .</p>
      </div>
    </div>
  </div>
</section> 
<!-- footer bg-light -->
<section class="footer bg-light ">
  <div class="container ">
    <div class="row">
      <div class="col">
        <ul class="con ">
          <a href=""><li class="text-dark m-2 fw-semibold">Categories</li> </a>
          <a href=""><li class="text-dark m-2">Vegetables & Fruits</li> </a>
          <a href=""><li class="text-dark m-2">Breakfast & instant food</li> </a>
          <a href=""><li class="text-dark m-2">Bakery & Biscuits</li> </a>
          <a href=""><li class="text-dark m-2">Atta, rice & dal</li> </a>
          <a href=""><li class="text-dark m-2">Sauces & spreads</li> </a>
          <a href=""><li class="text-dark m-2">Organic & gourmet</li> </a>
          <a href=""><li class="text-dark m-2">Baby care</li> </a>
          <a href=""><li class="text-dark m-2">Cleaning essentials</li> </a>
          <a href=""><li class="text-dark m-2">Personal care</li> </a>

        </ul>
    </div>
    <div class="col">
      <ul class="con ">
       <br>
        <a href=""><li class="text-dark m-2 ">Dairy, bread & eggs</li> </a>
        <a href=""><li class="text-dark m-2">Cold drinks & juices</li> </a>
        <a href=""><li class="text-dark m-2">Tea, coffee & drinks</li> </a>
        <a href=""><li class="text-dark m-2">Masala, oil & more</li> </a>
        <a href=""><li class="text-dark m-2">Chicken, meat & fish</li> </a>
        <a href=""><li class="text-dark m-2">Paan corner</li> </a>
        <a href=""><li class="text-dark m-2">Pharma & wellness</li> </a>
        <a href=""><li class="text-dark m-2">Home & office</li> </a>
        <a href=""><li class="text-dark m-2">Pet care</li> </a>

      </ul>
  </div>
  <div class="col">
    <ul class="con ">
      <a href=""><li class="text-dark m-2 fw-semibold">Get to know us</li> </a>
      <a href=""><li class="text-dark m-2">Company</li> </a>
      <a href=""><li class="text-dark m-2">About</li> </a>
      <a href=""><li class="text-dark m-2">Blog</li> </a>
      <a href=""><li class="text-dark m-2">Help Center</li> </a>
      <a href=""><li class="text-dark m-2">Our Value</li> </a>
    </ul>
</div>
<div class="col">
  <ul class="con ">
    <a href=""><li class="text-dark m-2 fw-semibold">For Consumers</li> </a>
    <a href=""><li class="text-dark m-2">Payments</li> </a>
    <a href=""><li class="text-dark m-2">Shipping</li> </a>
    <a href=""><li class="text-dark m-2">Product Returns</li> </a>
    <a href=""><li class="text-dark m-2">FAQ</li> </a>
    <a href=""><li class="text-dark m-2">Shop Checkout</li> </a>
  </ul>
</div>
<div class="col">
<ul class="con ">
  <a href=""><li class="text-dark m-2 fw-semibold">Become a Shopper</li> </a>
  <a href=""><li class="text-dark m-2">Shopper Opportunities</li> </a>
  <a href=""><li class="text-dark m-2">Become a Shopper</li> </a>
  <a href=""><li class="text-dark m-2">Earnings</li> </a>
  <a href=""><li class="text-dark m-2">Ideas & Guides</li> </a>
  <a href=""><li class="text-dark m-2">New Retailers</li> </a>
</ul>
</div>
<div class="col">
<ul class="con ">
  <a href=""><li class="text-dark m-2 fw-semibold">Freshcart programs</li> </a>
  <a href=""><li class="text-dark m-2 ">Freshcart programs</li> </a>
  <a href=""><li class="text-dark m-2 ">Gift Cards</li> </a>
  <a href=""><li class="text-dark m-2 ">Promos & Coupons</li> </a>
  <a href=""><li class="text-dark m-2">Freshcart Ads</li> </a>
  <a href=""><li class="text-dark m-2">Careers</li> </a>
</ul>
</div>

</div>
<div class="row">
  <div class="col">
    <div class="col">
      <hr class="text-center">
      <p class="fw-semibold">Payment Partners</p>
      <div class="">
        <ul>
          <li><a href=""> <img src="./download2/amazonpay.svg" alt=""></a> </li>
          <li><a href=""> <img src="./download2/amazonpay.svg" alt=""></a> </li>
          <li><a href=""> <img src="./download2/amazonpay.svg" alt=""></a> </li>
          <li><a href=""> <img src="./download2/amazonpay.svg" alt=""></a> </li>
          <li><a href=""> <img src="./download2/amazonpay.svg" alt=""></a> </li>
        </ul>
      </div>
      <hr>
    </div>
  </div>
</div>
</div>
</div>
</section>   



<script src="./download/jquery-3.6.1.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./js/slider1.js"></script>
</body>
</html>